ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: darkturquoise;
}

.menu {
    width: 100px;
    background-color: black;
    padding: 2px;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 100;
}

.menu-item {
    background-color: rgb(251, 236, 253);
    padding: 2px;
    margin: 2px;
    border-radius: 2px;
    transition: 1s;
}

.menu-item:hover {
    background-color: black;
    cursor: pointer;
}

.menu-item a {
    display: block;
    padding: 2px;
}

.menu-item:not(:last-child) a {
    margin-bottom: 2px;
}

.menu-horizontal {
    background-color: black;
    padding: 2px;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 6px;
    font-weight: 100;
}

.menu-item-hor {
    background-color: rgb(251, 236, 253);
    padding: 2px;
    margin: 2px;
    border-radius: 2px;
}

.menu-horizontal, .submenu, .menu-item-hor {
    display: inline-block;

}

.submenu .menu-item-hor {
    width: 80%;
}

.menu-item-hor {
    position: relative;
}

.submenu {
    position: absolute;
    visibility: hidden;
    background-color: black;
    padding: 4px;
    border-radius: 4px;
    width: 60px;
    opacity: 0;

}

.menu-item-hor:hover>.submenu {
    visibility: visible;
    z-index: 1;
    left: 5px;
    top: 15px;
    opacity: 1;
    transition: 1s;
}
